@model List<UsersViewModel>



<div>
    <h1>Users</h1>
</div>

<table class="table">
    <thead>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>IsAdmin</th>
        <th>PendingRegistration</th>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>
                    <span class="password-field" data-password="@user.Password">********</span>
                </td>
                <td>@user.Email</td>
                <td>@user.isAdmin</td>
                <td>@user.PendingRegistration</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@user.Id" asp-controller="Users" asp-route-Name="@user.Username">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id" asp-controller="Users" asp-route-Name="@user.Username">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Users">Add</a>
    <a class="btn btn-secondary" href="@Url.Action("GoBack", "HomeDB")">Back</a>
    <input asp-controller="File" asp-action="Download" type="submit" value="Download" class="btn btn-primary" />
</div>







